# Terraform
iac/.terraform/
iac/*.tfstate
iac/*.tfstate.*
iac/crash.log
iac/crash.*.log
iac/*.tfvars
iac/*.tfvars.json
iac/override.tf
iac/override.tf.json
iac/*_override.tf
iac/*_override.tf.json
iac/.terraform.tfstate.lock.info
iac/.terraformrc
iac/terraform.rc
iac/build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Ruff
.ruff_cache/
